@media screen and (max-width: 576px) {
    /* BANNER */

    /* NAVBAR */

    .nav-container {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        margin-left: 48px;
        padding: 16px 0;
    }

    .bonus {
        display: none;
    }

    #nav-bar a {
        border: none;
        padding: 0;
    }

    /* ABOUT */

    .about-container {
        width: 450px;
        margin: 0px auto;
        grid-template-columns: 1fr;
    }

    /* JOB INFO */

    .job-container {
        width: 450px;
        grid-template-columns: 1fr;
    }

    /* CERTIFICATE */

    .cert-container {
        width: 450px;
    }

    .cert-content {
        grid-template-columns: 1fr;
    }

    .cert {
        flex-direction: column;
        justify-content: flex-start;
        gap: 18px;
    }

    .cert-2,
    .cert-1 {
        padding-left: 0;
        padding-top: 32px;
    }

    .cert-2::before {
        content: "";
        display: none;
    }

    /* PROJECT */

    .project-content {
        flex-direction: column;
        gap: 24px;
        width: 80%;
    }

    .project-title {
        font-size: 1em;
        padding: 24px;
    }

    .project-info {
        font-size: 1em;
        padding: 24px 12px;
    }

    .project-info p {
        margin-bottom: 0;
    }

    table {
        font-size: 1em;
    }

    /* FOOTER */

    .footer-icon {
        font-size: 1em;
    }
}
