@media screen and (max-width: 768px) {
    /* BANNER */

    .banner-text h1 {
        font-size: 1.5em;
        font-weight: 500;
    }

    .banner-text span {
        font-size: 0.5em;
    }

    .banner-text {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* NAVBAR */

    .nav-container {
        padding: 16px 0;
    }

    #nav-bar a:link,
    #nav-bar a:visited {
        font-size: 0.85em;
    }

    .bonus {
        display: none;
    }

    /* ABOUT */

    .target p {
        line-height: 1.5;
    }

    /* JOB INFO */

    .job-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* CERTIFICATE */

    .cert-container {
        width: 700px;
    }

    .cert {
        flex-direction: column;
        justify-content: flex-start;
        gap: 18px;
    }

    .cert-2::before {
        content: "";
        background-color: #d6c08d;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 250px;
        width: 2px;
    }

    .cert-3 {
        padding-left: 0;
    }

    /* PROJECT */

    .project-container {
        padding: 24px;
    }

    .project-content {
        gap: 4px;
    }

    .project-title {
        font-size: 0.8em;
        padding: 12px;
        height: 64px;
    }

    .project-info {
        font-size: 0.8em;
        padding: 12px 6px;
    }

    .project-info p {
        margin-bottom: 0;
    }

    table {
        font-size: 0.8em;
    }

    /* FOOTER */

    .footer-icon {
        font-size: 1em;
    }
}
